.compute-payment h3{
    font-size: 20px;
    color: #575757;
    font-weight: 600;
    text-align: center;
    margin-top: 5vh;
}
.compute-payment h4{
    font-size: 16px;
    color: #575757;
    font-weight: 600;
    margin-left: 2vh;
    margin-top: 5vh;
}
.payment-atm{
    display: grid;
    grid-template-columns: 16vh 17vh 20vh;
    margin-top: 2vh;
}
.payment-atm img{
    background-color: transparent;
    border: solid 1.5px #D6D6D6;
    border-radius: 30px;
    padding: 7px 20px;
    cursor: pointer;
    transition: 0.5s;
}
.payment-atm img:hover{
    border: #575757 solid 1.5px;
}
.btn-pay{
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    background-color: #BFE08D;
    border-radius: 10px;
    padding: 5px 30px;
    margin-top: 5vh;
    cursor: pointer;
    border: none;
    margin-bottom: 5vh;
    transition: 0.4s;
}
.btn-pay:hover{
    background-color: #daf1b7;
    color: #c0bebe;
}
.submenu-top-up-pay{
    margin-top: 35vh;
    background-color: #ffffff;
    box-shadow: 0 0 2px #0000002f, 0 0 20px #0000002c;
    border-radius: 10px;
    width: 45vh;
    height: 35vh;
    text-align: center;
    transition: 0.7s;
  }
  .submenu-top-up-pay:hover{
    transform: scale(0.9);
  }

  .menu-top-up-pay{
    background-image: linear-gradient(to right bottom, #97DCAB 6%, #81BE92 26%, #3C5844 100%);
    border-radius: 10px;
    height: 20vh;
    padding-top: 7vh;
  }
  .menu-top-up-pay h1{
    font-size: 40px;
    color: white;
  }
  .menu-top-up-pay h3{
    font-size: 14px;
    color: white;
  }
  .submenu-top-up-pay a{
    position: relative;
    top: 5vh;
    color: #5AAEE6;
    font-size: 14px;
  }
.btn-create{
    background-color: #CEE3F8;
    border-radius: 10px;
    padding: 8px 30px;
    color: #575757;
    font-size: 14px;
    font-weight: 600;
    margin-top: 5vh;
    border: none;
}
.btn-create:hover{
    background-color: #b7d4f8;
}   


@media only screen and (min-width: 0px) and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-1"] {
      width: 100%;
    }

    .submenu-menu{
        position: absolute;
        top: 160vh;
        left:21vh;
        width: 50%;
        height: 150vh;
        }
        .compute{
            height: 150vh;
          }
    
        .compute-payment h3{
            font-size: 16px;
            text-align: center;
            margin-top: 5vh;
        }
        .compute-payment h4{
            font-size: 12px;
            margin-left: 0vh;
            margin-top: 5vh;
        }
        .payment-atm{
            display: grid;
            grid-template-columns: 1fr;
            margin-top: 2vh;
        }
        .payment-atm img{
            background-color: transparent;
            border: solid 1.5px #D6D6D6;
            border-radius: 30px;
            padding: 7px 20px;
            cursor: pointer;
            transition: 0.5s;
            margin-top: 2vh;
        }
        .payment-atm img:hover{
            border: #575757 solid 1.5px;
        }
        .btn-pay{
            position: relative;
            right: 5vh;
            padding: 5px 30px;
            margin-top: 5vh;
            margin-bottom: 5vh;
        }
        .btn-pay:hover{
            background-color: #daf1b7;
            color: #c0bebe;
        }
        .submenu-top-up-pay{
            position: relative;
            right: 5vh;
            margin-top: 35vh;
            width: 20vh;
            height: 25vh;
            text-align: center;
            transition: 0.7s;
          }
          .submenu-top-up-pay:hover{
            transform: scale(0.9);
          }
        
          .menu-top-up-pay{
            height: 15vh;
            padding-top: 4vh;
          }
          .menu-top-up-pay h1{
            font-size: 24px;
            color: white;
          }
          .menu-top-up-pay h3{
            font-size: 14px;
            color: white;
          }
          .submenu-top-up-pay a{
            position: relative;
            top: 5vh;
            color: #5AAEE6;
            font-size: 12px;
          }
        .btn-create{
            position: relative;
            right: 5vh;
            width: 20vh;
            padding: 8px 30px;
            margin-top: 5vh;
        }
        .btn-create:hover{
            background-color: #b7d4f8;
        }   
        
}