.home-text h1 {
    width: 150vh;
}

.header{
    background-color: white;
    width: 100%;
    height: 270vh;
}
.submenu-bare{
    display: grid;
    grid-template-columns: 4fr 1fr;
    justify-content: space-around;
}
.submenu-bare h1{
    margin-top: 10vh;
    color: #575757;
    font-size: 48px;
    font-weight: 600;
    width: 100%;
}
.menu h2{
    position: relative;
    right: 19vh;
    color: #A6A6A6;
    font-size: 20px;
}
.submenu-bare img{
    margin-top: 5vh;
    width: 40vh;
}
/* SUBMENU PRODUK */
.header-produk{
    margin-top: 20vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-left: 10vh;
}
.produk{
    margin-top: 10vh;
}
.submenu-produk {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 5vh 5vh;
    background-color: #F2E08F;
    border-radius: 10px;
    width: 95%;
    height: 60vh;
}
.submenu-produk h1{
    text-align: center;
    color: #3C5844;
    font-size: 24px;
}
.submenu-produk button{
    background-image: linear-gradient(
        to right bottom,
        #F2E08F 0%,
        #ABB697 50%,
        #4B5043 150%
      );    
      color: white;
      padding: 10px;
      border-radius: 10px;
}
.submenu-produk button:hover{
    background-image: linear-gradient(to right bottom,
    #f2e08fab 0%,
    #abb697b6 50%,
    #4b5043ad 150%)
}
.menu-produk{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3vh;
    background-color: #ABB697;
    border-radius: 10px;
    width: 100%;
    height: 30vh;
}
.menu-produk h1{
    color: #ffffff;
    font-size: 16px;
}
.menu-produk h2{
    color: #ffffff;
    font-size: 15px;
    width: 18vh;
}

/* 2 */
.submenu-produk-2 {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 5vh 5vh;
    background-color: #D7E5BE;
    border-radius: 10px;
    width: 100%;
    height: 60vh;
}
.submenu-produk-2 h1{
    text-align: center;
    color: #3C5844;
    font-size: 24px;
}
.submenu-produk-2 a{
    position: relative;
    bottom: 8vh;
    text-decoration: none;
    background-image: linear-gradient(
        to right bottom,
        #93BAD2 0%,
        #5D89A4 50%,
        #23333E 100%
      ); 
      text-align: center;
      color: #ffffff;
      font-size: 20px;
      padding: 10px 10px;
      border-radius: 10px;
      box-shadow: 0 0 5px #0000002f, 0 0 5px #0000002c;
}
.submenu-produk-2 button{
    background-image: linear-gradient(
        to right bottom,
        #F2E08F 0%,
        #ABB697 50%,
        #4B5043 150%
      );    
      color: white;
      padding: 10px;
      border-radius: 10px;
      margin-top: 2vh;
}
.submenu-produk-2 button:hover{
    background-image: linear-gradient(to right bottom,
    #f2e08fab 0%,
    #abb697b6 50%,
    #4b5043ad 150%)
}
.menu-produk-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3vh;
    background-color: #ABB697;
    border-radius: 10px;
    width: 100%;
    height: 30vh;
}
.menu-produk-2 h1{
    color: #ffffff;
    font-size: 16px;
}
.menu-produk-2 h2{
    color: #ffffff;
    font-size: 15px;
    width: 18vh;
}
.container-title{
    margin-top: 30vh;
    font-size: 48px;
    color: #575757;
    text-align: center;
}

/* HEADER PRODUK END */
.produk-end{
    background-color: white;
    display: grid;
    text-align: center;
    justify-content: center;
}
.submenu-produk-end{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.menu-produk-end{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D4EBDB;
    border-radius: 10px;
    width: 33%;
    padding: 0px 5px;
}
.menu-produk-end:hover{
    background-color: #BFE08D;
}
.menu-produk-end-img{
    margin-bottom: 10vh;
    width: 50vh;
    height: 38vh;
}
.menu-produk-end img{
    width: 10vh;
}
.menu-produk-end h1{
    text-align: left;
    margin-top: 10vh;
    margin-left: 2vh;
    width: 100%;
    height: 20vh;
    font-size: 24px;
    color: #575757;
}



@media only screen and (min-width: 0px) and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-1"] {
        width: 100%;
      }
      .header{
        background-color: white;
        width: 100%;
        height: 560vh;
    }
      .home-text h1{
        width: 40vh;
      }
      .submenu-bare{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
    }
      .submenu-bare h1{
        text-align: center;
        font-size: 24px;
        margin-bottom: 5vh;
    }
    .menu h2{
        text-align: center;
        position: relative;
        right: 4vh;    
    }
    .submenu-bare img{
        margin-top: 5vh;
        width: 45vh;
    }
    /* SUBMENU PRODUK */

    .header-produk{
        margin-top: 20vh;
        justify-content: space-around;
        align-items: center;
        margin-left: 0vh;
    }
    .produk{
        margin-top: 10vh;
    }
    .submenu-produk {
        display: none;
        display: grid;
        justify-content: center;
        align-items: center;
        padding: 5vh 5vh;
        background-color: #F2E08F;
        border-radius: 10px;
        width: 95%;
        height: 60vh;
    }
    .submenu-produk h1{
        text-align: center;
        color: #3C5844;
        font-size: 24px;
    }
    .submenu-produk button{
        background-image: linear-gradient(
            to right bottom,
            #F2E08F 0%,
            #ABB697 50%,
            #4B5043 150%
          );    
          color: white;
          padding: 10px;
          border-radius: 10px;
    }
    .submenu-produk button:hover{
        background-image: linear-gradient(to right bottom,
        #f2e08fab 0%,
        #abb697b6 50%,
        #4b5043ad 150%)
    }
    .menu-produk{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 3vh;
        background-color: #ABB697;
        border-radius: 10px;
        width: 100%;
        height: 30vh;
    }
    .menu-produk h1{
        color: #ffffff;
        font-size: 16px;
    }
    .menu-produk h2{
        color: #ffffff;
        font-size: 15px;
        width: 18vh;
    }
    .container-title{
        margin-top: 30vh;
        font-size: 24px;
        color: #575757;
        text-align: center;
    }
    
    /* 2 */
    .submenu-produk-2 {
        margin-top: 10vh;
        width: 95%;
        height: 60vh;
    }
    /* HEADER PRODUK END */
.produk-end{
    background-color: white;
    /* display: block; */
    /* grid-template-columns: 1fr 1fr; */
    /* justify-content: space-evenly; */
    /* align-items: center; */
    /* text-align: center; */
}
.submenu-produk-end{
    display: block;
    /* flex-wrap: wrap; */
    /* justify-content: space-around; */
    /* align-items: center; */
    /* text-align: center;/ */
}

.menu-produk-end{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D4EBDB;
    border-radius: 10px;
    width: 90%;
    padding: 0px 5px;
    margin-top: 10vh;
    margin-left: 2vh;
}
.menu-produk-end:hover{
    background-color: #BFE08D;
}
.menu-produk-end-img{
    margin-bottom: 20vh;
    width: 50vh;
    height: 38vh;
}
.menu-produk-end h1{
    text-align: left;
    margin-top: 10vh;
    margin-left: 2vh;
    width: 100%;
    height: 20vh;
    font-size: 20px;
    color: #575757;
}

    }

    @media only screen and (min-width: 768px) and ( max-width: 1000px) {
        /* For tablets: */
        .col-s-1 {width: 8.33%;}
        .col-s-2 {width: 16.66%;}
        .col-s-3 {width: 25%;}
        .col-s-4 {width: 33.33%;}
        .col-s-5 {width: 41.66%;}
        .col-s-6 {width: 50%;}
        .col-s-7 {width: 58.33%;}
        .col-s-8 {width: 66.66%;}
        .col-s-9 {width: 75%;}
        .col-s-10 {width: 83.33%;}
        .col-s-11 {width: 91.66%;}
        .col-s-12 {width: 100%;}
        .header{
            background-color: white;
            width: 100%;
            height: 560vh;
        }
          .home-text h1{
            width: 40vh;
          }
          .submenu-bare{
            display: grid;
            grid-template-columns: 1fr;
            justify-content: center;
        }
          .submenu-bare h1{
            text-align: center;
            font-size: 24px;
            margin-bottom: 5vh;
        }
        .menu h2{
            text-align: center;
            position: relative;
            right: 4vh;    
        }
        .submenu-bare img{
            margin-top: 5vh;
            width: 45vh;
        }
        /* SUBMENU PRODUK */
    
        .header-produk{
            margin-top: 20vh;
            justify-content: space-around;
            align-items: center;
            margin-left: 0vh;
        }
        .produk{
            margin-top: 10vh;
        }
        .submenu-produk {
            display: none;
            display: grid;
            justify-content: center;
            align-items: center;
            padding: 5vh 5vh;
            background-color: #F2E08F;
            border-radius: 10px;
            width: 95%;
            height: 60vh;
        }
        .submenu-produk h1{
            text-align: center;
            color: #3C5844;
            font-size: 24px;
        }
        .submenu-produk button{
            background-image: linear-gradient(
                to right bottom,
                #F2E08F 0%,
                #ABB697 50%,
                #4B5043 150%
              );    
              color: white;
              padding: 10px;
              border-radius: 10px;
        }
        .submenu-produk button:hover{
            background-image: linear-gradient(to right bottom,
            #f2e08fab 0%,
            #abb697b6 50%,
            #4b5043ad 150%)
        }
        .menu-produk{
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 3vh;
            background-color: #ABB697;
            border-radius: 10px;
            width: 100%;
            height: 30vh;
        }
        .menu-produk h1{
            color: #ffffff;
            font-size: 16px;
        }
        .menu-produk h2{
            color: #ffffff;
            font-size: 15px;
            width: 18vh;
        }
        .container-title{
            margin-top: 30vh;
            font-size: 24px;
            color: #575757;
            text-align: center;
        }
        
        /* 2 */
        .submenu-produk-2 {
            margin-top: 10vh;
            width: 95%;
            height: 60vh;
        }
        /* HEADER PRODUK END */
    .produk-end{
        background-color: white;
        /* display: block; */
        /* grid-template-columns: 1fr 1fr; */
        /* justify-content: space-evenly; */
        /* align-items: center; */
        /* text-align: center; */
    }
    .submenu-produk-end{
        display: block;
        /* flex-wrap: wrap; */
        /* justify-content: space-around; */
        /* align-items: center; */
        /* text-align: center;/ */
    }
    
    .menu-produk-end{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #D4EBDB;
        border-radius: 10px;
        width: 90%;
        padding: 0px 5px;
        margin-top: 10vh;
        margin-left: 2vh;
    }
    .menu-produk-end:hover{
        background-color: #BFE08D;
    }
    .menu-produk-end-img{
        margin-bottom: 20vh;
        width: 50vh;
        height: 38vh;
    }
    .menu-produk-end h1{
        text-align: left;
        margin-top: 10vh;
        margin-left: 2vh;
        width: 100%;
        height: 20vh;
        font-size: 20px;
        color: #575757;
    }
      }

      @media only screen and (min-width: 1000px)  and ( max-width: 1500px){
        .header{
            background-color: white;
            width: 100%;
            height: 370vh;
        }
      }



