.footer-submenu-produk{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-bottom: 15vh;
}
.container-h2{
    position: relative;
    top: 40vh;
    text-align: center;
    color: #575757;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 5vh;
}
.container-p{
    position: relative;
    top: 40vh;
    font-size: 16px;
    color: #a6a6a6;
    font-weight: 500;
    text-align: center;
}

.footer-submenu{
    background-color: #D4EBDB;
    border-radius: 10px;
    width: 48%;
    height: 40vh;
}
.footer-submenu:hover{
    background-color: #a9ceb4;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 10px;
}
.footer-submenu:hover h1{
    color: white;
}
.footer-submenu:hover p{
    color: white;
}
.footer-submenu:hover img{
    background-image: url(/images/images-produk/Ellipse\ 17\ white.png);
}
.img-submenu{
    margin-top: 5vh;
}

.footer-submenu img{
background-image: url(/images/images-produk/Ellipse\ 17.png);
background-repeat: no-repeat;
padding: 3vh 5vh 4vh 4vh;
}

.footer-submenu h1{
    color: #575757;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 3vh;
}

.footer-submenu p{
    color: #a6a6a6;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 3vh;
}


@media only screen and (min-width: 0px) and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-1"] {
        width: 100%;
      }
      .container-h2{
        top: 0vh;
    }
    .container-p{
        top: 0vh;
    }
    .footer-submenu-produk{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0vh;
    }
    .footer-submenu{
        width: 100%;
        height: 40vh;
        margin-bottom: 5vh;
    }
    .footer-submenu img{
        padding: 3vh 5vh 3vh 4vh;
    }
    .footer-submenu h1{
        margin-bottom: 3vh;
    }
    .footer-submenu p{
        margin-bottom: vh;
    }
}

@media only screen and (min-width: 768px) and ( max-width: 1000px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
    
    .container-h2{
        top: 4vh;
    }
    .container-p{
        top: 0vh;
    }
    .footer-submenu img{
        padding: 2vh 4vh 2vh 2vh;
    }
    .footer-submenu h1{
        margin-bottom: 3vh;
    }
    .footer-submenu p{
        margin-bottom: vh;
    }
  }

  @media only screen and (min-width: 1000px)  and ( max-width: 1500px){
    .container-h2{
        top: 4vh;
    }
    .container-p{
        top: 0vh;
    }
    .footer-submenu img{
        padding: 3vh 2h 3vh 4vh;
    }
  }
