.home-text-kontak{
    text-align: left;
    color: white;
    font-size: 50px;
    width: 120vh;
    font-weight: 600;
  }

/* HEADER */
.header{
    background-color: white;
    width: 100%;
    height: 200vh;
}
.spancing{
    height: 10vh;
  }
.header-title h1{
    text-align: center;
    color: #575757;
    font-size: 48px;
    font-weight: 600;
    margin-top: 10vh;
}
.header-title p{
    text-align: center;
    color: #A6A6A6;
    font-size: 20px;
}
.submenu-kontak{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.kontak{
    margin-top: 10vh;
    text-decoration: none;
}
.header-kontak{
    margin-top: 10vh;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    width: 80vh;
    height: 38vh;
}
.header-kontak:hover{
    background-color: #e7e7e7ee;
}
.header-kontak img{
    position: relative;
    top: 5vh;
    margin-left: 2vh;
    width: 20vh;
    height: 20vh;
}
.header-kontak h1{
    position: relative;
    bottom: 14vh;
    left: 22vh;
    text-align: left;
    color: #575757;
    font-size: 40px;
    font-weight: 600;
    /* margin-top: 10vh; */
}
.header-kontak p{
    position: relative;
    bottom: 14vh;
    left: 22vh;
    width: 55vh;
    text-align: left;
    color: #A6A6A6;
    font-size: 20px;
}
.header-kontak span{
    text-decoration: none;
    position: relative;
    left: 22vh;
    bottom: 14vh;
    text-align: left;
    color: #4285F4;
    font-size: 18px;
}

@media only screen and (min-width: 0px) and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-1"] {
        width: 100%;
      }
      .header{
        height: 160vh;
      }
      .home-text-kontak{
        font-size: 24px;
        width: 40vh;
      }
      .header-title h1{
        font-size: 24px;
      }
      .header-title p{
        font-size: 14px;
      }
      .submenu-kontak{
        display: block;
      }
      .header-kontak{
        margin-top: 10vh;
        background-color: #ffffff;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 10px;
        width: 40vh;
        height: 50vh;
        margin-bottom: 5vh;
      }
      .header-kontak img{
        position: relative;
        top: 5vh;
        margin-left: 10vh;
        width: 20vh;
        height: 20vh;
    }
    .header-kontak h1{
        position: relative;
        top: 3vh;
        left: 0vh;
        text-align: center;
    }
    .header-kontak p{
        position: relative;
        top: 3vh;
        left: 4vh;
        width: 33vh;
        text-align: center;
        color: #A6A6A6;
        font-size: 16px;
    }
    .header-kontak span{
        text-decoration: none;
        position: relative;
        left: 15vh;
        top: 3vh;
        text-align: center;
        color: #4285F4;
        font-size: 14px;
    }
}
@media only screen and (min-width: 768px) and ( max-width: 1000px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
    .header{
        height: 320vh;
    }
    .home-text-kontak{
        font-size: 48px;
        width: 60vh;
      }
      .header-title h1{
        font-size: 48px;
      }
      .header-title p{
        font-size: 24px;
      }
      .submenu-kontak{
        display: block;
      }
      .header-kontak{
        margin-top: 10vh;
        background-color: #ffffff;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 10px;
        width: 55vh;
        height: 50vh;
        margin-bottom: 5vh;
      }
      .header-kontak img{
        position: relative;
        top: 5vh;
        margin-left: 19vh;
        width: 20vh;
        height: 20vh;
    }
    .header-kontak h1{
        position: relative;
        top: 3vh;
        left: 1vh;
        text-align: center;
    }
    .header-kontak p{
        position: relative;
        top: 3vh;
        left: 12vh;
        width: 33vh;
        text-align: center;
        color: #A6A6A6;
        font-size: 24px;
    }
    .header-kontak span{
        text-decoration: none;
        position: relative;
        left: 26vh;
        top: 3vh;
        text-align: center;
        color: #4285F4;
        font-size: 20px;
    }
  }
  @media only screen and (min-width: 1000px)  and ( max-width: 1500px){
    .header-kontak{
        width: 75vh;
    }
  }


